.skillContainerBox > .skillContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.skillRoot {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
