.profileDetails {
    display: tab;
}

.profileDetailContainer {
    display: flex;
    justify-content: flex-start; /* Optional: Adds space between items */
    margin: 0px 0px 10px;
  }

.profileDetailContainer > .profileDetailbox:nth-child(1) {
  font-weight: 600;
  font-size: 1.1rem;
}

.profileDetailContainer > .profileDetailbox:nth-child(2) {
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: flex-end;
}

.profileDetailbox {
  margin: 0px 5px 0px;
}
  
  .skillBlock {
    text-align: left;
  }

  .skillBlock > .skillBox {
    margin: 20px 0px 20px;
  }

  .skillBlock > .skillBox > .skillBoxText {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .aboutMeContainer {
    text-align: left;
  }

  .aboutMeContainer > .aboutMeTitle {
    font-size: 50px;
    font-weight: 700;
    padding: 0px 20px 0px;
  }

  .aboutMeContainer > .aboutMeContent {
    padding: 0px 20px 0px;
  }

  .aboutMeContainer > .aboutMeContent > p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 20px;
  }

  .skillHeading {
    font-size: 1.3rem;
  }